PUBLIC_CONTACT_FORM_ACTION_URL=/api/contact
PUBLIC_CONTACT_FORM_SUCCESS_REDIRECT=http://localhost:4321/#contatti
PUBLIC_CONTACT_FORM_MAILTO=
PUBLIC_CONTACT_TURNSTILE_SITE_KEY=

CONTACT_FORM_MODE=dev
CONTACT_FORM_RESEND_API_KEY=
CONTACT_FORM_FROM_EMAIL=
CONTACT_FORM_TO_EMAIL=
CONTACT_FORM_TO_EMAIL_PRIVACY=
CONTACT_FORM_TO_EMAIL_SECURITY=
CONTACT_FORM_TO_EMAIL_ETHICS=
CONTACT_FORM_TO_EMAIL_LEGAL=
CONTACT_FORM_TO_EMAIL_HR=
CONTACT_TURNSTILE_SECRET_KEY=
